@model Kennels.Models.EditUserViewModel
@{
    ViewBag.Title = "Manage my Account";
}

<h2>@ViewBag.Title.</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    
    <hr />
    
  
</div>

<h4 style="padding-left:7em; color:#20b5e9;">About Me</h4>
<br />

<dl class="dl-horizontal">

    <dt>Name : </dt>
    <dd>@Model.Fname @Model.Lname</dd>
    <dt>
        @Html.DisplayNameFor(model => model.Address) :
    </dt>
    <dd>
        @Model.Address
    </dd>
    <dt>
        @Html.DisplayNameFor(model => model.County) :
    </dt>
    <dd>
        @Model.County
    </dd>
    <dt>
        @Html.DisplayNameFor(model => model.PhoneNumber) :
    </dt>
    <dd>
        @Model.PhoneNumber
    </dd>
    <dt>Password :</dt>
    <dd>
        @Html.ActionLink("Change your password", "ChangePassword")
    </dd>

</dl>
<p style="padding-left:8em;"> [@Html.ActionLink("Update Details", "Edit")]</p>

<br style="clear:both;" />
