@model Kennels.Models.Kennel
@using Kennels.Controllers;

@{
    ViewBag.Title = "Details";
}

<h2>@Html.DisplayFor(model => model.Name)</h2>

<h4>
    @if (KennelsController.KennelOwner == false)
    {

        @Html.ActionLink("Book This Kennel", "Create", "Bookings", new { id = Model.KennelID }, null)
    }
    @if (KennelsController.KennelOwner == true)
    {        
            @Html.ActionLink("Update Kennel", "Edit", "Kennels", new { id = Model.KennelID }, null)        
    }
</h4>


<div>

    <hr />
    <div class="col-md-4">
        <h4>@Html.DisplayNameFor(model => model.Address)</h4>
        <div>
            <span>
                @Html.DisplayFor(model => model.Address)
            </span>
            <br />
            <span>
                @Html.DisplayFor(model => model.Town)
            </span>
            <br />
            <span>
                @Html.DisplayFor(model => model.County)
            </span>
        </div>
        <br />
        <p>
            Tel: @Html.DisplayFor(model => model.PhoneNumber)
            <br />
            @Html.DisplayNameFor(model => model.Email) : @Html.DisplayFor(model => model.Email)
        </p>
    </div>
    
    <div class="col-md-8">

        <h4>Customer Rating </h4>
        <p>
            @ViewBag.avgRating 
            <br />
             @Html.ActionLink(" See all ratings", "KennelRatings", "Ratings", new { id = Model.KennelID }, null)
            @if (KennelsController.KennelOwner == false)
            {<br />
                @Html.ActionLink("Rate this kennel", "Create", "Ratings", new { id = Model.KennelID }, null)}
        </p>
    </div>
    <br style="clear: both;">
    <br />
    <hr style="clear: both;"/>
    <div style="color: darkblue;">
        
        <h3>About @Html.DisplayFor(model => model.Name) </h3>
       
    </div>
    <hr style="clear: both;"/>
    

    <p class="col-md-12">
        @Html.DisplayFor(model => model.Description)
    </p>



    <dl class="dl-horizontal">
        @*<dt>
            Customer Rating :
        </dt>
        <dd>
            @ViewBag.avgRating  @Html.ActionLink(" See all ratings", "KennelRatings", "Ratings", new { id = Model.KennelID }, null)
            @if (KennelsController.KennelOwner == false)
            {@Html.ActionLink("Rate this kennel", "Create", "Ratings", new { id = Model.KennelID }, null)}
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address) :
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dd>
            @Html.DisplayFor(model => model.Town)
        </dd>

        <dd>
            @Html.DisplayFor(model => model.County)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.PhoneNumber) :
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email) :
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>*@

        <dt>
            @Html.DisplayNameFor(model => model.Capacity) :
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Capacity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PricePerNight) :
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PricePerNight)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PricePerWeek) :
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PricePerWeek)
        </dd>

        <dt>
            Cancellation Period :
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CancellationPeriod) (Hours)
        </dd>

        <dt>
            Type of dogs :
        </dt>
        <dd>
            <div class="row">
                <div class="col-md-1">
                    @Html.DisplayNameFor(model => model.LgeDog)
                    @Html.DisplayFor(model => model.LgeDog)
                </div>

                <div class="col-md-1">
                    @Html.DisplayNameFor(model => model.MedDog)
                    @Html.DisplayFor(model => model.MedDog)
                </div>

                <div class="col-md-1">
                    @Html.DisplayNameFor(model => model.SmlDog)
                    @Html.DisplayFor(model => model.SmlDog)
                </div>
            </div>
        </dd>
    </dl>

    <h4>Other Services</h4>
    @Html.DisplayNameFor(model => model.Grooming)
    @Html.DisplayFor(model => model.Grooming)
    <br />
    @Html.DisplayNameFor(model => model.Training)
    @Html.DisplayFor(model => model.Training)
</div>

<p>
    @if (KennelsController.KennelOwner == false)
    {
        @Html.ActionLink("Back to All Kennels", "Index")
    }
    @if (KennelsController.KennelOwner == true)
    {        
            @Html.ActionLink("Back to My Kennels", "MyKennels")        
    }

</p>

