@model Kennels.Models.Kennel
@using Kennels.Controllers;

@{
    ViewBag.Title = "Details";
}

<h2>@Html.DisplayFor(model => model.Name)</h2>

<h4>
    @if (KennelsController.KennelOwner == false)
    {
        <button class="btn btn-default" onclick="location.href='@Url.Action("Create", "Bookings", new { id = Model.KennelID}, null)';return false;">Book This Kennel</button>       
    }
    @if (KennelsController.KennelOwner == true)
    {
            @Html.ActionLink("Update Kennel", "Edit", "Kennels", new { id = Model.KennelID }, null)        
    }
</h4>


<div>

    <hr />
    <div class="col-md-4">
        <h4>@Html.DisplayNameFor(model => model.Address)</h4>
        <div>
            <span>
                @Html.DisplayFor(model => model.Address)
            </span>
            <br />
            <span>
                @Html.DisplayFor(model => model.Town)
            </span>
            <br />
            <span>
                @Html.DisplayFor(model => model.County)
            </span>
        </div>
        <br />
        <p>
            Tel: @Html.DisplayFor(model => model.PhoneNumber)
            <br />
            @Html.DisplayNameFor(model => model.Email) : @Html.DisplayFor(model => model.Email)
        </p>
    </div>
    
    <div class="col-md-4">

        <h4>Customer Rating </h4>
        <p>
            @ViewBag.avgRating 
            <br />
             @Html.ActionLink(" See all ratings", "KennelRatings", "Ratings", new { id = Model.KennelID }, null)
            @if (KennelsController.KennelOwner == false)
            {<br />
                @Html.ActionLink("Rate this kennel", "Create", "Ratings", new { id = Model.KennelID }, null)}
        </p>
    </div>

    <div class="col-md-4">
       <img src="http://brayton-primary.co.uk/attachments/Image/AwaitingImage_22.jpg?template=generic" alt="Awaiting Image" style="width:100%;height:100%;"/>
        
    </div>
    <br style="clear: both;">
   
    <br />
    <p>
        @if (KennelsController.KennelOwner == false)
        {
            @Html.ActionLink("Back to All Kennels", "Index")
        }
        @if (KennelsController.KennelOwner == true)
        {
            @Html.ActionLink("Back to My Kennels", "MyKennels")
        }

    </p>
    <hr style="clear: both;"/>
    <div style="color: darkblue;">
        
        <h3>About @Html.DisplayFor(model => model.Name) </h3>
       
    </div>
    <hr style="clear: both;"/>




    <div class="col-md-12">
        <h4>Kennel Description</h4>
        <ul style="list-style: none;">
            <li style="padding-bottom:1em;">
                @Html.DisplayFor(model => model.Description)
            </li>

            <li style="padding-bottom:1em;">
                @Html.DisplayFor(model => model.Name) has a maximum capacity of @Html.DisplayFor(model => model.Capacity) dogs.
            </li>
            <li style="padding-bottom:1em;">
                @Html.DisplayFor(model => model.Name) accepts the following types of dogs:
            </li>


            <li style="padding-left: 2em; display:inline;">
                @Html.DisplayNameFor(model => model.LgeDog)
                @Html.DisplayFor(model => model.LgeDog)
            </li>
            <li style="padding-left: 1em; display:inline;">
                @Html.DisplayNameFor(model => model.MedDog)
                @Html.DisplayFor(model => model.MedDog)
            </li>
            <li style="padding-left: 1em; display:inline;">
                @Html.DisplayNameFor(model => model.SmlDog)
                @Html.DisplayFor(model => model.SmlDog)
            </li>



        </ul>

        <br />
        <h4>Price and Policy</h4>
        <ul>
            <li>
                The price per night, per dog, is @Html.DisplayFor(model => model.PricePerNight).
            </li>
            <li>
                The price per week, per dog, is @Html.DisplayFor(model => model.PricePerWeek)
            </li>
            <li>
                You may cancel a booking up to @Html.DisplayFor(model => model.CancellationPeriod) hours before the booking date.
            </li>
        </ul>
        <br />
        <h4>Other Services</h4>
        <ul>
            <li>
                @Html.DisplayNameFor(model => model.Grooming)
                @Html.DisplayFor(model => model.Grooming)
            </li>
            <li>
                @Html.DisplayNameFor(model => model.Training)
                @Html.DisplayFor(model => model.Training)
            </li>
        </ul>
    </div>

</div>



