@model Kennels.Models.Kennel
@using Kennels.Controllers;

@{
    ViewBag.Title = "Details";
}

<h2 >@Html.DisplayFor(model => model.Name) @if (KennelsController.KennelOwner == false)
{
    <button class="btn btn-primary" style="float:right; margin-right:2em;" onclick="location.href='@Url.Action("Create", "Bookings", new { id = Model.KennelID}, null)';return false;">Book This Kennel</button>
} </h2>

<h4>
    
    
    @if (KennelsController.KennelOwner == true)
    {
            @Html.ActionLink("Update Kennel", "Edit", "Kennels", new { id = Model.KennelID }, null)        
    }
</h4>


<div>

    <hr />
    <div class="col-md-4">
        <h4 style="color:#20b5e9;">@Html.DisplayNameFor(model => model.Address)</h4>
        <address>
            @Html.DisplayFor(model => model.Address)
            <br />
            @Html.DisplayFor(model => model.Town)
            <br />
            @Html.DisplayFor(model => model.County)
        </address>

        <p>
            Tel: @Html.DisplayFor(model => model.PhoneNumber)
            <br />
            @Html.DisplayNameFor(model => model.Email) : @Html.DisplayFor(model => model.Email)
        </p>
    </div>
    
    <div class="col-md-4">

        <h4 style="color:#20b5e9;">Customer Rating </h4>
        <p>
            @ViewBag.avgRating
        </p>
        <p>
            @Html.ActionLink(" See all ratings", "KennelRatings", "Ratings", new { id = Model.KennelID }, null)
        </p>
        <p style="padding-top:1em;">
            @if (KennelsController.KennelOwner == false)
            {
                
                <button class="btn btn-primary" onclick="location.href='@Url.Action("Create", "Ratings", new { id = Model.KennelID }, null)';return false;">Rate This Kennel</button>
            }                
        </p>
    </div>

    <div class="col-md-4">
       <img src="http://brayton-primary.co.uk/attachments/Image/AwaitingImage_22.jpg?template=generic" alt="Awaiting Image" style="width:100%;height:100%;"/>
        
    </div>
    <br style="clear: both;">
   
    <br />
    <p>
        @if (KennelsController.KennelOwner == false)
        {
            @Html.ActionLink("Back to All Kennels", "Index")
        }
        @if (KennelsController.KennelOwner == true)
        {
            @Html.ActionLink("Back to My Kennels", "MyKennels")
        }

    </p>
    <hr style="clear: both;"/>
    <div>
        
        <h3>About @Html.DisplayFor(model => model.Name) </h3>
       
    </div>
    <hr style="clear: both;"/>




    <div class="col-md-12">
        <h4 style="color:#20b5e9;">Kennel Description</h4>
        <ul style="list-style: none;">
            <li style="padding-bottom:1em;">
                @Html.DisplayFor(model => model.Description)
            </li>

            <li style="padding-bottom:1em;">
                @Html.DisplayFor(model => model.Name) has a maximum capacity of @Html.DisplayFor(model => model.Capacity) dogs.
            </li>
            <li style="padding-bottom:1em;">
                @Html.DisplayFor(model => model.Name) accepts the following types of dogs:
            </li>


            <li style="padding-left: 2em; display:inline;">
                @Html.DisplayNameFor(model => model.LgeDog)
                @Html.DisplayFor(model => model.LgeDog)
            </li>
            <li style="padding-left: 1em; display:inline;">
                @Html.DisplayNameFor(model => model.MedDog)
                @Html.DisplayFor(model => model.MedDog)
            </li>
            <li style="padding-left: 1em; display:inline;">
                @Html.DisplayNameFor(model => model.SmlDog)
                @Html.DisplayFor(model => model.SmlDog)
            </li>



        </ul>

        <br />
        <h4 style="color:#20b5e9;">Price and Policy</h4>
        <ul>
            <li>
                The price per night, per dog, is @Html.DisplayFor(model => model.PricePerNight).
            </li>
            <li>
                The price per week, per dog, is @Html.DisplayFor(model => model.PricePerWeek)
            </li>
            <li>
                You may cancel a booking up to @Html.DisplayFor(model => model.CancellationPeriod) hours before the booking date.
            </li>
        </ul>
        <br />
        <h4 style="color:#20b5e9;">Other Services</h4>
        <ul>
            <li>
                @Html.DisplayNameFor(model => model.Grooming)
                @Html.DisplayFor(model => model.Grooming)
            </li>
            <li>
                @Html.DisplayNameFor(model => model.Training)
                @Html.DisplayFor(model => model.Training)
            </li>
        </ul>
    </div>
    <br style="clear:both;"/>
</div>



