@model IEnumerable<Kennels.Models.Kennel>
@using Kennels.Controllers;

<a name="top"></a>

@{
    ViewBag.Title = "Index";
}

<h2>Find Kennels</h2>



<p>
    @if (KennelsController.KennelOwner == true)
    {@Html.ActionLink("Manage My Kennels", "MyKennels");
    }
</p>



@using (Html.BeginForm("Index", "Kennels", FormMethod.Get))

{
    <hr/>
    <h3> Search by: </h3>
    <div class="row">

        <div class="col-md-12">

            <div class="form-group, col-md-4">
                <label class="control-label" for="inputDefault">County:</label>
                @Html.DropDownList("county", (SelectList)ViewBag.county, "All", new { @class = "form-control" })
            </div>

            <div class="form-group, col-md-4">
                <label class="control-label" for="inputDefault">Name: </label>
                @Html.TextBox("searchName", "", new { @class = "form-control" })
            </div>

            <div class="form-group, col-md-4">
                <label class="control-label" for="inputDefault">Minimum Star Rating:</label>
                @Html.DropDownList("searchRate", (SelectList)ViewBag.rate, "All", new { @class = "form-control" })
            </div>

            <div class="form-group, col-md-4">
                <br />
                <label class="control-label" for="inputDefault">Start Date: </label>
                @Html.TextBox("searchStart", "", new { id = "from", @class = "form-control" })
            </div>

            <div class="form-group, col-md-4">
                <br />                
                <label class="control-label" for="inputDefault">End Date: </label>
                <br />
                @Html.TextBox("searchEnd", "", new { id = "to", @class = "form-control" })
            </div>

            <div class="form-group, col-md-4">
                <br />
                <label class="control-label" for="inputDefault">Sort By:</label>
                @Html.DropDownList("sort", (SelectList)ViewBag.sort, "All", new { @class = "form-control" })
            </div>
            
            <div class="col-md-12" style="color: red; margin-top: 1em;">
                @ViewBag.Invalid
            </div>

            <div class="form-group, col-md-4">
                <br />

                <button class="btn btn-primary" type="submit">Search</button>
                <button class="btn btn-default" onclick="location.href='@Url.Action("Index")';return false;">Clear</button>
            </div>
        </div>
    </div>


        <hr />

}
@foreach (var item in Model)
{
    <div class="col-md-6">

        <h3>@Html.ActionLink(KennelsController.TitleCase(item.Name), "Details", new { id = item.KennelID })</h3>

        @{ var avgRate = KennelsController.rate.Where(r => r.KennelID == item.KennelID).FirstOrDefault();}

        <dl class="dl-horizontal">
            <dt>
                Kennel Rating
            </dt>

            @if (avgRate == null)
            {
                <dd>
                    Not yet rated
                </dd>
            }
            else
            {
                string avRate = avgRate.AverageRating.ToString();

                if (avRate.Length > 3)
                { avRate = avRate.Substring(0, 3); }

                string star = "Stars";
                    if (avgRate.AverageRating == 1)
                    {
                        star = "Star";
                    }
                <dd>
                    @Html.Raw(avRate) @star
                </dd>
            }
            <dt>
                @Html.DisplayNameFor(model => model.County)
            </dt>

            <dd>
                @Html.DisplayFor(model => item.County)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PricePerNight)
            </dt>

            <dd>
                @Html.DisplayFor(model => item.PricePerNight)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PricePerWeek)
            </dt>

            <dd>
                @Html.DisplayFor(model => item.PricePerWeek)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.LgeDog)
            </dt>

            <dd>
                @Html.DisplayFor(model => item.LgeDog)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.MedDog)
            </dt>

            <dd>
                @Html.DisplayFor(model => item.MedDog)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.SmlDog)
            </dt>

            <dd>
                @Html.DisplayFor(model => item.SmlDog)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.MaxDays)
            </dt>
            <dd>
                @Html.DisplayFor(model => item.MaxDays)
            </dd>

            @* Calculates an estimate of price *@
            @if (KennelsController.dateSearch == true)
            {
                <dt style="color:green;"><h4>Estimated Price</h4></dt>
                <dd>
                    @{const int week = 7;
                    int estNights = (KennelsController.searchEn - KennelsController.searchSt).Days;
                    double estPrice = ((estNights % week) * item.PricePerNight) + ((estNights / week) * item.PricePerWeek);}
                <h4>€@estPrice</h4>
            </dd>
                    }

        </dl>
    </div>
                    }

<div style="clear: both;">
    <a href="#top">Back to top</a>
</div>


@*@Scripts.Render("~/bundles/jqueryui")*@
<script>    
    $("#to").datepicker({
        dateFormat: "dd/mm/yy"       
    });
    $("#from").datepicker({
        dateFormat: "dd/mm/yy"
    });
</script>


