@model IEnumerable<Kennels.Models.Kennel>

@{
    ViewBag.Title = "My Kennels";
}

<h2>My Kennels</h2>

<p>
    @Html.ActionLink("Add a Kennel", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Town)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.County)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Capacity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PricePerNight)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PricePerWeek)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MaxDays)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LgeDog)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MedDog)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SmlDog)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CancellationPeriod)
        </th>
        <th></th>
        <th></th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Town)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.County)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Capacity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PricePerNight)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PricePerWeek)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaxDays)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LgeDog)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MedDog)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SmlDog)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CancellationPeriod)
            </td>
            <td>
                @Html.ActionLink("Update", "Edit", new { id = item.KennelID })
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new { id = item.KennelID })
            </td>
            <td>
                @Html.ActionLink("Delete", "Delete", new { id = item.KennelID })
            </td>
        </tr>
    }

</table>
