@model IEnumerable<Kennels.Models.Kennel>

@{
    ViewBag.Title = "My Kennels";
}

<h2>My Kennels</h2>

<p>
    @Html.ActionLink("Add a Kennel", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.County)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Capacity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PricePerNight)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PricePerWeek)
        </th>      
       
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.County)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PhoneNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Capacity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PricePerNight)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PricePerWeek)
        </td>       
        
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.KennelID }) |
            @Html.ActionLink("Details", "Details", new { id=item.KennelID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.KennelID })
        </td>
    </tr>
}

</table>
